{
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 80px;
    height: 80px;
    background-color: rgba(0, 121, 73, 0.7);
    position: absolute;
    top: 5%;
    left: 4%;
}
.logo2{
    width: 80px;
    height: 80px;
    background-color: rgba(174, 174, 174, 0.7);
    position: absolute;
    top: 7.5%;
    left: 5%;
}
.header_left{
    width: 400px;
    height: 450px;
    color: aliceblue;
    background-color: rgba(0, 121, 73, 0.7);
    font-size: 90px;
    position: absolute;
    top: 1%;
    left: 60%;
    border-radius: 0% 0% 100% 100%;
    text-align: center;
}

.imag_1{
    text-align: center;
    padding: 6px;
    initial-value: 30px;
    margin-top: -120px

}
.header{
    font-size: 60px;
}
.services{
  font-size: 25px;
  margin: 20px;
  
}
.div_1
{
    width: 50%;
    height: 20%;
    float: left;
    margin-right: 181px;   
    margin: 32px;
    margin-top: -26px;
    font-size: 69px;
    padding: 121px;
    font-size: 22px;
}
.div_2
{
    width: 20%;
    height: 20%;
    background-color: gray;
    float: left;
    margin: 10px;
    margin-right: -308px;
    float: left;
    padding-right: 115px;
    margin-top: -99px;
    padding: 60px;
    color: white;
}
.text-2{
    background-color:chocolate ;
    color: white;

}

.text-3{
    background-color: rgb(153, 192, 192);

}

